{% extends 'Back/LayoutBackOffice.html.twig' %}

{% block insertionModulesBackOffice %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Les Vidéos</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Les vidéos</div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Danse</th>
                                    <th>Titre</th>
                                    <th>Nom complet</th>
                                    <th>Danseurs</th>
                                    <th>Likes</th>
                                    <th>Saison</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                                <tbody class="tableBodyVideo">
                                {% for video in videos %}
                                    <tr class="inputVideo ligne{{ video.id }}" >
                                        <td>{{ video.id }}</td>
                                        <td data-search="{{ video.nameDanse }}"><input type="text"   data-id="{{ video.id }}" data-type="nameDanse" value="{{ video.nameDanse |default('-')}}" readonly="true"></td>
                                        <td data-search="{{ video.titleVideo }}"><input type="text"   data-id="{{ video.id }}" data-type="titleVideo" value="{{ video.titleVideo |default('-')}}" readonly="true"></td>
                                        <td data-search="{{ video.nameVideo }}"><input type="text"   data-id="{{ video.id }}" data-type="nameVideo" value="{{ video.nameVideo |default('-')}}" readonly="true"></td>
                                        <td data-search="{{ video.celebrity|default('-') }}"><input type="text"   data-id="{{ video.id }}" data-type="celebrity" value="{{ video.celebrity |default('-')}}" readonly="true"></td>
                                        <td data-search="{{ video.likeVideo }}"><input type="text"   data-id="{{ video.id }}" data-type="likeVideo" value="{{ video.likeVideo |default('-')}}" readonly="true"></td>
                                        <td data-search="{{ video.nameSaison }}"><input type="text"   data-id="{{ video.id }}" data-type="nameSaison" value="{{ video.nameSaison |default('-')}}" readonly="true"></td>
                                        <td class="supprimerVideo" data-id="{{ video.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                                <tfoot>
                                <tr>
                                    {{ form_start(formVideo) }}
                                    <td></td>
                                    <td>
                                        {{ form_label (formVideo.danseId) }}
                                        {{ form_widget(formVideo.danseId) }}
                                        {{ form_errors(formVideo.danseId) }}
                                    </td>
                                    <td>
                                        {{ form_label (formVideo.titleVideo) }}
                                        {{ form_widget(formVideo.titleVideo) }}
                                        {{ form_errors(formVideo.titleVideo) }}
                                    </td>
                                    <td>
                                        {{ form_label (formVideo.nameVideo) }}
                                        {{ form_widget(formVideo.nameVideo) }}
                                        {{ form_errors(formVideo.nameVideo) }}
                                    </td>
                                    <td>
                                        {{ form_label (formVideo.celebrity) }}
                                        {{ form_widget(formVideo.celebrity) }}
                                        {{ form_errors(formVideo.celebrity) }}
                                    </td>
                                    <td>
                                        {{ form_label (formVideo.likeVideo) }}
                                        {{ form_widget(formVideo.likeVideo) }}
                                        {{ form_errors(formVideo.likeVideo) }}
                                    </td>
                                    <td>
                                        {{ form_label (formVideo.saison) }}
                                        {{ form_widget(formVideo.saison) }}
                                        {{ form_errors(formVideo.saison) }}
                                    </td>
                                    <td><input type="submit" class="btn btn-info btn-block btn-small" /></td>
                                        {{ form_end(formVideo) }}   
                                </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}

{% block js %}
    <script src="{{ asset('dist/js/backoffice/video.js') }}"></script>

{% endblock %}